.img-responsive-center {
    position: relative;
    left: 50%;
    transform: translate(-50% 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform(-50%, 0);
}

div.info-table table {
    table-layout: fixed;
    width: 100%;
    border: 3px solid black;
    border-collapse: collapse;
}


div.info-table table tr td {
    padding: 20px;
}

div.info-table table thead tr th {
    padding: 20px;
}

div.info-table table tr td {
    border: 3px solid black;
}

div.info-table   thead th {
    border: 3px solid black;
    font-weight: 1000;
    color: black; 
    text-align: center;
}

div.info-table   thead th:nth-child(1) {
    width: 40%;
    font-size: 18px;
}

div.info-table  thead th:nth-child(n+2) {
    width: 15%;
    font-size: 14px;
    background-color: #b8cce4;
}

div.info-table  tbody tr td:nth-child(n+2) {
    text-align:center;
}

div.info-table tfoot tr td {
    font-size: 10px;
}

div.info-table  table tbody td:nth-child(n+1):nth-child(-n+1) {
    background-color: #e7f1f7;
    font-size: 14px;
    font-weight: 1000;
    text-align: left;
}

div.info-table  th, td {
    padding: 20px;
}

@media (max-width:600px) {

    div.info-table table {
        table-layout: fixed;
        width: 100%;
        border: 1px solid black;
        border-collapse: collapse;
    }


    div.info-table table tr td {
        padding: 0px;
    }

    div.info-table table thead tr th {
        padding: 0px;
    }

    div.info-table table tr td {
        border: 1px solid black;
    }

    div.info-table   thead th {
        border: 1px solid black;
        font-weight: 1000;
        color: black; 
        text-align: left;
    }

    div.info-table   thead th:nth-child(1) {
        font-size: 10px;
    }

    div.info-table  thead th:nth-child(n+2) {
        font-size: 10px;
        background-color: #b8cce4;
    }

    div.info-table  tbody tr td:nth-child(n+2) {
        text-align: left;
    }

    div.info-table tfoot tr td {
        font-size: 10px;
    }

    div.info-table  table tbody td:nth-child(n+1):nth-child(-n+1) {
        background-color: #e7f1f7;
        font-size: 10px;
        font-weight: 1000;
        text-align: left;
    }

    div.info-table  th, td {
        padding: 0px;
    }

}

fieldset {
text-align: center;
border:2px solid #ccc;
background:#fff;
padding: 5px;
position:relative;
 /* Safari 3-4, iOS 1-3.2, Android 1.6- */
-webkit-border-radius: 8px; 
 /* Firefox 1-3.6 */
 -moz-border-radius: 8px; 
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 8px; 
}

legend {
all: revert;
font-size:2.0rem;
margin-left:5px;
/*
display: block;
width: 100%;
padding: 0;
margin-bottom: @line-height-computed;
font-size: (@font-size-base * 1.5);
line-height: inherit;
color: @legend-color;
border: 0;
border-bottom: 1px solid @legend-border-color;
*/
}

fieldset img {
max-width:200px;
max-height:300px;
}

fieldset h1.header {
color:#AE8193;
font-size:2.0rem;
margin-bottom:10px;
}

fieldset .text {
float:right;
width:70%;
}

fieldset .text a.readmore {
color:#AE8193;
text-decoration:underline;
font-size:1.0pt;
font-size:1.0rem;
}

.clearfix {
clear:both;
height:15px;
}
