<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ICRAT - International Conference on Research in Air Transportation</title>

    <!-- Custom CSS -->
    <link href="{{'/static/css/business-frontpage.css'|url}}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha512-UDJtJXfzfsiPPgnI5S1000FPLBHMhvzAMX15I+qG2E2OAzC9P1JzUwJOfnypXiOH7MRPaqzhPbBGDNNj7zBfoA==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
    <![endif]-->

    {%block addhead %}{{this.addhead}}{% endblock %}
</head>

<body>
    
    <div id="watermark" class="hidden-xs hidden-sm hidden-md">
  <img src="./static/images/watermark.png" />
    </div>

    {% include 'navigation.html' %}

    <!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    
                    <img src="{{'/static/images/header.jpg'|url}}" class="img-responsive" />
                  <!-- Optional Tagline  <h1 class="tagline">USA/Europe Air Traffic Management Research and Development Seminars</h1> -->
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-sm-8">

                
                 
        <h2>Welcome to the International Conference on Research in Air Transportation</h2>

        <div id="bodycontent">
        {{ this.body }}
        </div>

        </a>
        <!--<a class="btn btn-default btn-lg" href="{{'/upcoming-conference/call-for-papers'|url}}"><u>Click here for the call for papers for the June 2020 conference </u>&raquo;</a>-->



        </div>
        <div class="col-sm-4">
                         <!--div class="embed-responsive embed-responsive-4by3">

                            <iframe class="embed-responsive-item" width="100%" height="200px" src="https://player.vimeo.com/video/356188684?title=0&byline=0&portrait=0" frameborder="0" allowfullscreen></iframe>
                            
                        </div-->

                   <h3>Upcoming Conference</h3>
                   <ul>
                       <li><a href="./upcoming-conference/sponsorship/">Sponsorship Opportunities</a></li>
                       <li><a href="./upcoming-conference/registration/">Registration</a></li>
                       <li><a href="./upcoming-conference/hotel/">Hotel Information</a></li>
                       <li>ICRAT 2022 Schedule <a href="./upcoming-conference/ICRAT_2022_Schedule.pdf">(PDF)</a><a href="./upcoming-conference/ICRAT_2022_Schedule.xlsx">(XLSX)</a></li>
                       <li><a href="./upcoming-conference/Abstract_ICRAT2022.pdf">Book of Abstracts (PDF)</a></li>
                       <li><a href="./upcoming-conference/Program-At-A-Glance.pdf">Program At A Glance (PDF)</a></li>
                       <li><a href="./upcoming-conference/call-for-papers/">Call for Papers</a></li>
                       <li><a href="./upcoming-conference/call-for-papers/ICRAT2022_Call_for_Papers.pdf">Call for Papers (PDF)</a></li>
                       <li><a href="./upcoming-conference/call-for-papers/ICRAT2022_regular_paper_template.docx">Regular Paper Template (docx, updated 8-Feb-2022)</a></li>
                       <li><a href="./upcoming-conference/call-for-papers/ICRAT2022_doctoral_symposium_template.docx">Doctor Symposium Template (docx, updated 27-Jan-2022)</a></li>
                   </ul>

                <fieldset>
                        <h3>2022 ICRAT Sponsors</h3>

                        <a href="https://www.faa.gov"><img src="{{'/static/images/faa_logo_seal.svg'|url}}" class=img-responsive" width="150" height="150"/></a><br/>
                        <a href="https://www.eurocontrol.int"><img src="{{'/static/images/eurocontrol_logo.svg'|url}}" style="margin-top:5px; margin-bottom:5px;" class=img-responsive" width="150" height="150"/></a><br/>
                        <a href="https://www.usf.edu/research-innovation/"><img src="{{'/static/images/2022/usf_ri_small.png'|url}}" style="margin-top:5px; margin-bottom:5px;" class=img-responsive"/></a><br/>
                        <a href="https://www.tampaairport.com/"><img src="{{'/static/images/2022/tia_ga_logo_medium.jpg'|url}}" widclass="img-responsive"/></a><br/>
                        <a href="https://www.cutr.usf.edu"><img src="{{'/static/images/2022/cutr-circle-with-text-small.jpg'|url}}" widclass="img-responsive"/></a>

               </fieldset>

                   <h3>Previous Conferences</h3>
                    <ul>
                     <li><a href="./9th-international-conference/">ICRAT 2020 - 9th International Conference</a></li>
                     <li><a href="./8th-international-conference/">ICRAT 2018 - 8th International Conference</a></li>
                     <li><a href="./7th-international-conference/">ICRAT 2016 - 7th International Conference</a></li>
                     <li><a href="./6th-international-conference/">ICRAT 2014 - 6th International Conference</a></li>
                     <li><a href="./5th-international-conference/">ICRAT 2012 - 5th International Conference</a></li>
                     <li><a href="./4th-international-conference/">ICRAT 2010 - 4th International Conference</a></li>
                     <li><a href="./3rd-international-conference/">ICRAT 2008 - 3rd International Conference</a></li>
                     <li><a href="./2nd-international-conference/">ICRAT 2006 - 2nd International Conference</a></li>
                     <li>ICRAT 2004 - 1st International Conference</li>
                </ul>
        </div>

        <!-- /.row -->

       
       
        <!-- /.row -->

    
        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; ICRAT 2021</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <link href="{{'/static/css/style.css'|url}}" rel="stylesheet">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

</body>

</html>
