{% block preamble %}{% endblock %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ICRAT - International Conference on Research in Air Transportation</title>

    <!-- Custom CSS -->
    <link href="{{'/static/css/business-frontpage.css'|url}}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha512-UDJtJXfzfsiPPgnI5S1000FPLBHMhvzAMX15I+qG2E2OAzC9P1JzUwJOfnypXiOH7MRPaqzhPbBGDNNj7zBfoA==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
    <![endif]-->

	{%block addhead %}{% endblock %}
	
</head>

<body>
    
   <div id="watermark" class="hidden-xs hidden-sm hidden-md">
  <img src="{{'/static/images/watermark.png'|url}}" />
    </div>

    {% include 'navigation.html' %}

    <!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    
                    <img src="{{'/static/images/header.jpg'|url}}" class="img-responsive" />
                  <!-- Optional Tagline  <h1 class="tagline">USA/Europe Air Traffic Management Research and Development Seminars</h1> -->
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        

        <div class="row">
            <div class="col-sm-12">
                 
                    
                {% block body %}{% endblock %}
                
                
                <p>
                    <br/>
                    
                   
                    
                <fieldset>
                        <h3>2022 ICRAT Sponsors</h3>

                        <a href="https://www.faa.gov"><img src="{{'/static/images/faa_logo_seal.svg'|url}}" class=img-responsive" width="150" height="150"/></a>
                        <a href="https://www.eurocontrol.int"><img src="{{'/static/images/eurocontrol_logo.svg'|url}}" style="margin-top:5px; margin-bottom:5px;" class=img-responsive" width="150" height="150"/></a>
                        <a href="https://www.usf.edu/research-innovation/"><img src="{{'/static/images/2022/usf_ri_small.png'|url}}" style="margin-top:5px; margin-bottom:5px;" class=img-responsive"/></a><br/>
                        <a href="https://www.tampaairport.com/"><img src="{{'/static/images/2022/tia_ga_logo_medium.jpg'|url}}" widclass="img-responsive"/></a>
                        <a href="https://www.cutr.usf.edu"><img src="{{'/static/images/2022/cutr-circle-with-text-small.jpg'|url}}" widclass="img-responsive"/></a>

               </fieldset>

                </p>
            </div>
            
        </div>
        <!-- /.row -->

        

       
        <!-- /.row -->

    
        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; ICRAT 2021</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <link href="{{'/static/css/style.css'|url}}" rel="stylesheet">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>


{% block addfooter %}{% endblock %}
</body>

</html>
