<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{'/'|url}}" style="font-size: 14px!important;">Home</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
               
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Upcoming Conference <b class="caret"></b></a>
                    <ul class="dropdown-menu">

                    <li>
                    <a href="{{ '/upcoming-conference'|url }}">Conference Information</a>
                    </li>

                    <li>
                    <a href="{{ '/upcoming-conference/registration/'|url }}">Registration</a>
                    </li>

                    <li>
                    <a href="{{ '/upcoming-conference/hotel/'|url }}">Hotel Information</a>
                    </li>

                    <li>
                    <a href="{{ '/upcoming-conference/local-attractions/'|url }}">Tampa Area Local Attractions</a>
                    </li>

                    <li>
                    <a href="{{ '/upcoming-conference/sponsorship'|url }}">Sponsorship Opportunities</a>
                    </li>

                    <li>
                    <a href="{{ '/upcoming-conference/committee-members' | url }}"> Conference Committee</a>
                    </li>

                    <li>
                    <a href="{{ '/upcoming-conference/call-for-papers'|url }}">Call for Papers</a>
                    </li>
                    
                    <li>
                    <a href="{{ '/upcoming-conference/call-for-papers/ICRAT2022_Call_for_Papers.pdf'|url }}">Call for Papers (PDF)</a>
                    </li>
                    <li>
                    <a href="{{ '/upcoming-conference/call-for-papers/ICRAT2022_regular_paper_template.docx'|url }}"/>Regular Paper Template (updated 8-Feb-2022)</a>
                    </li>
                    
                    <li>
                    <a href="{{ '/upcoming-conference/call-for-papers/ICRAT2022_doctoral_symposium_template.docx'|url }}">Doctorial Symposium Template (updated 27-Jan-2022)</a>
                    </li>

                    <!--li>
                    <a href="{{ '/upcoming-conference/papers/Abstracts_ICRAT2020.pdf' | url }}">2020 ICRAT Book of Abstracts</a>
                    </li>

                    <li>
                    <a href="{{ '/upcoming-conference/papers'|url }}">2020 Presentations and Technical Papers</a>
                    </li>
                    
                    <li>
                    <a href="https://easychair.org/conferences/?conf=icrat2020">EasyChair Paper Submissions</a>
                    </li-->
                    
                           
                    </ul>
                </li>

                <!--li>
                <a href="{{'/upcoming-conference'|url}}">Upcoming Conference</a>
                </li-->


                <li>
                <a href="{{'/previous-conferences'|url}}">Previous Conferences</a>
                </li>
               
            </ul>
        </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
