{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}

<h3 align="center">{{ this.title }}</h2>
  {% if this.video %}
  </br>
  <div class="row">
	  <div class="media" style="margin: auto; max-width: 75%;">
		  <iframe src={{this.video}} allowfullscreen="" width="100%" height="350px" frameborder="0"></iframe>
		  <!--<video controls width="100%" height="100%"><source src ={{this.video}} type="video/mp4"></video>-->
		  <h3 align="center">{{this.videotitle}}</h3>
	</div>
  </div>
  {%endif%}
  {{ this.body }}
  
  {%block addcontent %}{% endblock %}

{% endblock %}
